svg.chart .background { fill:#4d4d4d }
svg.chart text{ 
    fill:#fff;
    font-family: Helvetica,Arial,sans-serif;
    font-weight: 100;
    font-size: 10pt;
}
.axis path { fill:none; stroke:#fff; shape-rendering:crispEdges }
.axis line { stroke: rgba(255,255,255,.21); }
.line{ fill:none; stroke:#75D018; stroke-width:6px }
.domain { stroke-width: 2.5px; }
.dot{ stroke:white; fill:#75D018; stroke-width:2px }